#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: none;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

#Contact_Title {
    font-size: 30px;
    text-align: center;
}

#Contact_Email, #Contact_Message {
    display: block;
}

#Contact_Email {
    margin-top: 25px;
    width: 30%;
}

#Contact_Message {
    resize: none;
    margin-top: 25px;
    width: 30%;
}

#Contact_Button {
    margin-top: 25px;
    width: 30%;
    height: 30px;
}