#Edu_Title {
    font-size: 30px;
    text-align: center;
}

.Education {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 33%;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 15px grey;
}

.Edu_School {
    font-size: 25px;
}

.Edu_Grade {
    font-size: 20px;
}