#Skill_Title {
    font-size: 30px;
    text-align: center;
}

.Skill {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.Skill_List li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: #cfcfcf;
}